h1 {
  display: inline;
}
#btn1 {
  width: 25px;
  height: 25px;
  background-color: rgb(9, 9, 131);
  color: aliceblue;
  font-size: large;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
#btn2{
  border:none;
  background-color: transparent;
  color: gray;
  float: inline-end;
  cursor: pointer;
}
  
.mainDiv {
  width: 80%;
  height:auto;
  box-sizing: border-box;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
}
